* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rokkitt', serif;
    font-size: 1.2em;
    word-spacing: 4px;
    color: #173a4d;
}

/************ FONT*************/

p {
    text-align: justify;
    font-family: 'Rokkitt', serif;
    font-size: 1.2em;
    width: 90%;
    margin: auto;
    padding: 15px;

}


h1 {
    font-family: 'Rokkitt', serif;
    font-size: 1.8em;
    text-align: center;
    width: 100%;
}


h2 {
    font-family: 'Rokkitt', serif;
    font-size: 2em;
    text-align: center;
    width: 100%;
}

h3 {
    font-family: 'Rokkitt', serif;
    font-size: 1.7em;
    text-align: center;
    width: 100%;
}



.title h1 {
    height: auto;
    text-align: center;
    color: #173a4d;
    font-family: 'Playball',
    sans-serif;
    font-size: 3em;
    padding: 15px;

}



b {
    font-family: 'Rokkitt', serif;
    font-size: 0.9em;
    word-spacing: 4px;
}



a {
    text-align: inherit;
    color: #173a4d;
    font-family: 'Rokkitt', serif;
    font-size: 1.1em;
    word-spacing: 4px;
    width: 90%;
    padding: 15px;

}


#splash img {
    width: 100vw;
    height: 53vw;
    margin: 0 auto;
    padding: 60px;
    display: block;
    margin-top: -80px;
}

/******MENU FORSIDE**********/

.navbar1 {
    font-family: 'Wire One', sans-serif;
    text-align: right;
    margin: 1vw 4vw 2vw 0;
    padding-top: 45px;
    position: relative;


}

.navbar1 a {
    text-decoration: none;
    color: #173a4d;
    font-family: 'Wire One', sans-serif;
    font-size: 30px;
}


.navbar1 a:hover {
    color: #a9b8c4;
    cursor: pointer;

}


header .navn {
    font-family: 'Wire One', sans-serif;
    text-align: left;
    position: absolute;
    font-size: 4.6vw;
    margin-left: 60px;
    margin-top: 20px;
}



/***MENU 2*******/

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #173a4d;
    min-width: 100px;
    z-index: 1;
}

.dropbtn1 img {
    width: 50%;
}

.dropbtn1 {
    background-color: #173a4d;
    color: white;
    padding: 16px;
    width: 113px;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    text-align: left;
    font-family: 'Rokkitt', serif;
    height: 40px;

}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

.dropdown1:hover .dropbtn1 {
    background-color: #173a4d;
}


.dropdown-content1 a {
    color: #ffffff;
    padding: 10px;
    width: 200px;
    display: block;
    text-decoration: none;
    text-align: left;

}


.dropdown-content1 a:hover {
    background-color: #a9b8c4;
}


.dropdown1 {
    position: fixed;
    display: inline-block;
    width: 100%;
    top: 0;
    height: 55px;
    background-color: #173a4d;
}

.dropdown1 ul {
    background-color: #173a4d;
    list-style-type: none;
    text-align: left;
}


/*-------- Media Queries ---------- */

@media all and (max-width: 1255px) {
    #splash img {
        margin-top: 80px;
        height: 70vw;
    }

    .navbar1 {
        display: none;
    }

    header .navn {
        margin-top: -20px;
        font-size: 60px;
    }
}


@media all and (min-width: 1255px) {
    .dropdown1 {
        display: none;
    }
}


@media all and (max-width: 1255px) {
    #splash img {
        width: 100%;
        padding: 15px;
    }
}




/******MENU**********/

.navbar {
    font-family: 'Wire One', sans-serif;
    text-align: right;
    margin: 1vw 4vw 2vw 0;
    padding-top: 45px;
    position: relative;


}

.navbar a {
    text-decoration: none;
    color: #173a4d;
    font-family: 'Wire One', sans-serif;
    font-size: 30px;
}


.navbar a:hover {
    color: #6c89b9;
    cursor: pointer;

}

.navn a img {
    width: 20%;
    margin-left: 10px;
    margin-top: 10px;
}


/*-------- DROPDOWN ---------- */

/*--------- DROPDOWN MENU ----------*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #173a4d;
    min-width: 100px;
    z-index: 1;
}

.dropbtn img {
    width: 50%;
}

.dropbtn {
    background-color: #173a4d;
    color: white;
    padding: 16px;
    width: 113px;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    text-align: left;
    font-family: 'Rokkitt', serif;
    height: 40px;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #173a4d;
}


.dropdown-content a {
    color: #ffffff;
    padding: 10px;
    width: 200px;
    display: block;
    text-decoration: none;
    text-align: left;

}


.dropdown-content a:hover {
    background-color: #a9b8c4;
}


.dropdown {
    position: fixed;
    display: inline-block;
    width: 100%;
    top: 0;
    height: 55px;
    background-color: #173a4d;
}

.dropdown ul {
    background-color: #173a4d;
    list-style-type: none;
    text-align: left;
}

/*-------- Media Queries ---------- */

@media all and (max-width: 1255px) {

    .navbar,
    .navn img {
        display: none;
    }

    #splash img {
        padding-top: 40px;
        height: 70vw;
    }
}


@media all and (max-width: 626px) {


    #splash img {
        padding-top: 40px;
        height: 45vw;
    }
}

@media all and (max-width: 355px) {


    #splash img {
        padding-top: 40px;
        height: 125vw;
    }
}



@media all and (max-width: 1024px) {

    #splash img {
        padding-top: 40px;
        height: 67vw;
    }
}


@media all and (max-width: 768px) {

    #splash img {
        padding-top: 40px;
        height: 122vw;
    }
}


@media all and (min-width: 5120px) {

    #splash img {
        padding-top: 200px;
    }
    .navbar1 a {
        font-size: 6em;

    }
}




@media all and (min-width: 1255px) {
    .dropdown {
        display: none;
    }
}


/********************FOOTER**********/

footer,
footer p {
    background-color: #173a4d;
    text-align: center;
    color: whitesmoke;
    font-family: 'Rokkitt', serif;
    font-size: 1em;
    padding: 10px;
    height: 55px;
}


/************************* CV********************'****/

#cv {
    width: 100%;
}


.cv {
    display: flex;
    flex-wrap: wrap;
    color: #173a4d;
}

.ommig {
    flex-grow: 1;
    flex-basis: 500px;
    color: #173a4d;
    padding: 15px;

}


.mig {
    flex-grow: 1;
    flex-basis: 500px;
    padding-top: 100px;
}

.mig img {
    width: 60%;
    border-top-right-radius: 20em;
    border-bottom-right-radius: 20em;
    border-top-left-radius: 20em;
    border-bottom-left-radius: 20em;
    padding: 15px;
    display: block;
    margin: 0 auto;
}


.tidslinje img {
    width: 50%;
    margin: 0 auto;
    display: block;
    padding: 15px;
}



@media all and (max-width: 1255px) {

    .mig img {
        width: 60%;
        margin-top: -100px;
    }

    .tidslinje img {
        width: 100vw;

    }
    #cv h1 {
        margin-top: 70px;
    }

}



/********************Portfolio***************/

#portfoliomappe {
    width: 100%;
}

.portbg {
    background-color: #ffffff;
}



.portflex {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.portflex a {
    flex-grow: 1;
    flex-basis: 300px;
}

.portflex img {
    width: 100%;
    transition: all 0.5s ease;

}

.portbg h1 {
    font-size: 30px;
}

.portflex img:hover {
    transform: scale(1.1);
}




/********WEBDESIGN********/

.moodboards {
    display: flex;
    flex-wrap: wrap;
}

.mood {
    flex-grow: 1;
    flex-basis: 400px;
    padding: 15px;
}



.mood img {
    width: 40vw;
    margin: 0 auto;
    display: block;
}

.mood2 {
    flex-grow: 1;
    flex-basis: 400px;
    padding: 15px;
}


.mood2 img {
    width: 40vw;
    margin: 0 auto;
    display: block;
}

.del1 {
    width: 100%;
}



.del2 {
    width: 100%;
}


.styletile img {
    width: 60%;
    margin: 0 auto;
    display: block;
    padding: 15px;
}

.final {
    transition: all 0.2s ease;

}

.final img {
    width: 25%;
    margin: 0 auto;
    display: block;
    padding: 15px;
}


.final img:hover {
    transform: scale(1.1);
}



@media all and (max-width: 1255px) {
    .mood img,
    .mood2 img,
    .styletile img {
        width: 100%;
    }
    .final img {
        width: 50%;
    }
    #street h1 {
        margin-top: 70px;
    }

}



/**********VIDEO************/

.video {
    width: 100%;
}

.veneklinikken {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15px;

}

.veneklinikken iframe {
    border: 0;
}


@media all and (max-width: 1255px) {

    #pilotprojekt {
        margin-top: 70px;
    }


}


@media all and (max-width: 855px) {

    .veneklinikken iframe {
        width: 100%;
        height: 58.2vw;
    }
}

/********** REDESIGN*********/

.redesign {
    width: 100%;
}

.re_styletile {
    text-align: center;
}

.com img {
    width: 25%;
    display: block;
    margin: 0 auto;
    transition: all 0.2s ease;
    padding: 15px;
}

.com img:hover {
    transform: scale(1.1);
}



/***********CPH DOX**********/

.cphlogo img {
    margin: 0 auto;
    display: block;
    width: 45%;
}

.cphtekst {
    width: 100%;
}


.cphdox {
    text-align: center;
    padding: 15px;
}

.cphdox {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15px;

}

.cphdox iframe {
    border: 0;

}

@media all and (max-width: 855px) {
    .cphdox iframe {
        width: 100%;
        height: 58.2vw;
        border: 0;
    }

}

@media all and (max-width: 1255px) {
    .cphlogo img {
        margin-bottom: 40px;

        margin-top: 70px;
        width: 100%;
    }

}




/***********ANIMATON******************/

a {
    text-align: center;
}

.animationtekst {
    width: 100%;
}


.spritesheet img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.liste {
    width: 100%;
}

.liste {
    width: 90%;
    margin: auto;
    padding: 15px;
}


.finalanimation img {
    margin: 0 auto;
    display: block;
    transition: all 0.2s ease;
    padding: 15px;
    width: 25%;

}


.finalanimation img:hover {
    transform: scale(1.1);
}




@media all and (max-width: 1255px) {
    .finalanimation img {
        width: 50%;
    }
    #animation h1 {
        margin-top: 70px;
    }

}



/******SEX OG SAMFUND******/

.privatsnak img {
    margin: 0 auto;
    display: block;
    width: 20%;
    padding: 15px;
}


.stekst {
    width: 100%;
}



.ssfinal img {
    width: 20%;
    margin: 0 auto;
    display: block;
    transition: all 0.2s ease;
}

.ssfinal img:hover {
    transform: scale(1.1);
}




@media all and (max-width: 1255px) {
    .ssfinal img {
        width: 50%;
    }
    .privatsnak img {
        width: 50%;
        margin-top: 70px;
    }
}

/******KEAFRIDAY******/

.keaapp img {
    width: 70%;
    margin: 0 auto;
    display: block;
}


.finalkea img {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 15px;
    transition: all 0.2s ease;
}

.finalkea img:hover {
    transform: scale(1.1);
}

.finalkea {
    width: 10vw;
    margin: 0 auto;
    display: block;
}



@media all and (max-width: 1255px) {
    .finalkea img {
        width: 30vw;

    }
    .finalkea {
        width: 100%;
    }
    #keafriday h1 {
        margin-top: 70px;
    }

}

/*************REPUBLIKKEN*******/

.republikken img {
    width: 10%;
    margin: 0 auto;
    display: block;

}



.flexrep {
    display: flex;
    flex-wrap: wrap;
}

.flexrep img {
    flex-basis: 300px;
    flex-grow: 1;
    width: 10%;
    height: 100%;

}

.finallapp img {
    margin: 0 auto;
    display: block;
    width: 10%;
    transition: all 0.2s ease;


}

.finallapp img:hover {
    transform: scale(1.1);
}


@media all and (max-width: 1255px) {
    .finallapp img {
        width: 30vw;

    }
    #republikken h1 {
        margin-top: 70px;
    }

}


/*************EKSTRA********/

.htbalm {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15px;

}

.htbalm iframe {
    border: 0;
}

@media all and (max-width: 1255px) {

    #ekstra {
        margin-top: 70px;
    }
    .up {
        display: none;
    }
}


@media all and (max-width: 855px) {

    .htbalm iframe {
        width: 100%;
        height: 58.2vw;
    }

}

/****KNAP*****/

.up img {
    width: 70%;
    margin: 10px;
    margin-right: 60px;
}

.up {

    position: fixed;
    right: 10px;
    bottom: 20px;
    height: 90px;
    width: 50px;

}

.up:hover {
    cursor: pointer;
}
